name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  #CI
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Use Node 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install Dependencies
      run: npm install

    - name: Run tests
      run: npm run test

  cd:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Deploy Render
        uses: johnbeynon/render-deploy-ation@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID}}
          api-key: ${{ secrets.RENDER_API_KEY}}

          # service-id: srv-d44tm0chg0os73fni6i0
          # api-key: rnd_DNUZiQx8pGw5mwU85KSoD9Mo1Ntu